<h1 class="text-danger">All Physicians</h1>

<h4>Has Many Through Association</h4>

<table cellpadding="0" cellspacing="0" border="1px" bgcolor="#eee" style="max-width: 1000px; width: 100; margin: 0 auto;" >
	<thead>
		<tr>
			<th>SN</th>
			<th>Name</th>
			<th>Pages</th>
		</tr>
	</thead>
	<tbody>
		<% @physicians.each do |physician| %>
			<tr>
				<td><strong><%= physician.id %></strong></td>
				<td><strong>Name: </strong> <%= physician.name %></td>
				<td><%= link_to 'Show', physician_path(physician) %></td>
			</tr>
		<%end%>
	</tbody>
</table>

<p><%= link_to 'New Physician', new_physician_path %></p>
<p><%= link_to 'All Patient', patients_path %></p>
<p><%= link_to 'New Appointment', new_appointment_path %></p>
<p><%= link_to 'All Appointments', appointments_path %></p>

															