
<%= form_with model: @sponsor do |form| %>

	<p>
		<%= form.label :Name %>
		<%= form.text_field :name %>
	</p>

	<p>
		<%= form.label :Turnover %>
		<%= form.text_field :turnover %>
	</p>

	<p><%= form.submit %></p>
<%end%>

<p><%= link_to 'Back', sponsors_path %></p>