
<h1>Show Cart </h1>

<table cellpadding="0" cellspacing="0" border="1px" bgcolor="#eee" >
	<thead>
		<tr>
			<th>Product Name</th>
			<th>Price</th>
			<th>Quantity</th>
			<th>Remove</th>
			<th>Subtotal</th>
		</tr>			
	</thead>
	<tbody>
		<% @cart.cart_items.each do |item| %>
			<tr>
				<td><%= link_to item.product.name, product_path(item.product) %></td>
				<td><%= item.product.price %></td>
				
				<td>
					<%= button_to '-', decrement_path(cart_item_id: item.id), method: :put if item.quantity > 1 %>
					<%= item.quantity %> 
					<%= button_to '+', increment_path(cart_item_id: item.id), method: :put %>
				</td>
				<td><%= button_to 'Remove', destroy_path(cart_item_id: item.id), method: :delete %></td>
				<td><%= item.product.price*item.quantity %></td>
			</tr>
		<%end%>
		<tr>
		<td colspan= 4 ></td>	
		<% @total = 0 %>
		<% @cart.cart_items.each do |x|%>
		<% @total += (x.quantity * x.product.price) %>	
		<% end %>
		<td><strong> Total : </strong> <%= @total %></td>
		</tr>
	</tbody>
</table>

<div><%= link_to 'Back', products_path, style: 'background-color: teal; padding: 6px 8px;border-radius: 6px; border: 1px solid #f00; color: #fff;text-transform:uppercase;text-decoration:none' %></div>
<br>

<button id="rzp-button1">Pay</button>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>

var order_id = '<%= Razorpay::Order.create(amount: (@total) , currency: 'INR', receipt: 'TEST').id %>';
var options = {
    "key": "rzp_test_cMgYrZI8LECp9o", // Enter the Key ID generated from the Dashboard
    "amount": "50000", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "Acme Corp",
    "description": "Test Transaction",
    "image": "https://example.com/your_logo",
    "order_id": order_id,
    "handler": function (response){
        alert(response.razorpay_payment_id);
        alert(response.razorpay_order_id);
        alert(response.razorpay_signature)
    },
    "prefill": {
        "name": "Gaurav Kumar",
        "email": "gaurav.kumar@example.com",
        "contact": "9999999999"
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#3399cc"
    },
    redirect: true
};
var rzp1 = new Razorpay(options);
rzp1.on('payment.failed', function (response){
        alert(response.error.code);
        alert(response.error.description);
        alert(response.error.source);
        alert(response.error.step);
        alert(response.error.reason);
        alert(response.error.metadata.order_id);
        alert(response.error.metadata.payment_id);
});
document.getElementById('rzp-button1').onclick = function(e){
    rzp1.open();
    e.preventDefault();
}
</script>