
<h1>Show Expenses</h1>

<p>
	<strong>Date: </strong> <%= @daily.date %>
</p>

<p>
	<strong>Expenses: </strong> <%= @daily.expenses %>
</p>

<p>
	<strong>Details: </strong> <%= @daily.details %>
</p>

<div><%= link_to 'Back', dailies_path, style: 'background-color: teal; padding: 6px 8px;border-radius: 6px; border: 1px solid #f00; color: #fff;text-transform:uppercase;text-decoration:none' %></div>

<br>

<p><%= link_to 'Add Transaction', new_transaction_path(@daily) %></p>