<ul class="nav-items">
	<li class="nav-item"><%= link_to 'BookShelf', authors_path, class:"nav-link" %></li>
	<li class="nav-item"><%= link_to 'Hospital', physicians_path, class:"nav-link" %></li>
	<li class="nav-item"><%= link_to 'Match Information', teams_path, class:"nav-link" %></li>
	<li class="nav-item"><%= link_to 'Movies Information', actors_path, class:"nav-link" %></li>
	<li class="nav-item"><%= link_to 'Product', products_path, class:"nav-link" %></li>
	<li class="nav-item"><%= link_to 'Daily Expenses', dailies_path, class:"nav-link" %></li>
	<li class="nav-item"><%= link_to 'Employee', employees_path, class:"nav-link" %></li>
	<li class="nav-item"><%= link_to 'Admin Panel', admin_root_path, class:"nav-link" %></li>
</ul>